.btn-work {
  /*position: relative;*/
  right: 85px;
  margin-top: 30px;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
}

.btn-work:hover {
  background-color: blue;

  opacity: 0.8;
  color: white;
}

.btn-work a {
  color: black;
}

.btn-work:hover a {
  opacity: 0.8;
  color: white;
}

