.btn-work {
  /*position: relative;*/
  right: 85px;
  margin-top: 30px;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
}

.btn-work:hover {
  background-color: blue;

  opacity: 0.8;
  color: white;
}

.btn-work a {
  color: black;
}

.btn-work:hover a {
  opacity: 0.8;
  color: white;
}













/*.btn-blue {
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  margin: 60px;
}

.btn-blue:hover {
  background-color: #3ccaff;
}

#btn-socialmedia {
  color: rgb(80, 80, 80);
  font-size: 40;
}

#btn-socialmedia:hover{
  color: #3ccaff;
}
*/
