













/*.btn-blue {
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  margin: 60px;
}

.btn-blue:hover {
  background-color: #3ccaff;
}

#btn-socialmedia {
  color: rgb(80, 80, 80);
  font-size: 40;
}

#btn-socialmedia:hover{
  color: #3ccaff;
}
*/
