.footer {
  background: rgb(30,30,30);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 15px;
  color: #ffac31;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #ffac31;
  opacity: 0.6;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
