











/*.footer {
  width: 500px;
  background-color: white;
  font-size: 30px;
  padding: 10px;
  border-radius: 5px;
  margin: 40px auto;
  box-shadow: 0 3px 7px rgb(150, 150, 150);
  border-bottom: 80px;
}
*/
