.nav {
  display: grid;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
}



#nav-top {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: solid 1px white;
  /*margin-left: 15px;*/
  padding-right: 20px;
  padding-left: 20px;
}

.navbar-lewagon {
  padding: 20px;
  justify-content: space-between;
  background: rgb(30,30,30);
}

.navbar-lewagon .navbar-collapse {
  color: white;
  flex-grow: 0;
}

.navbar-lewagon .navbar-collapse li {
  color: white
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-header {
  font-family: 'Roboto' sans-serif;
  font-weight: 300;
  color: white;
}

.nav-header h3 {
  padding-left: 15px;
  margin-bottom: 0px;
}

.nav-header h3:hover {
  color: blue;
  transition-duration: 2s;
}

#item {
  font-family: 'Roboto' sans-serif;
  font-weight: 100;
  color: white;
  margin-left: 20px;
}

#item:hover {
  color: blue;
  transition-duration: 2s;
}
