#nav-top {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-lewagon {
  padding: 20px;
  justify-content: space-between;
  background: black;
}

.navbar-lewagon .navbar-collapse {
  color: white;
  flex-grow: 0;
}

.navbar-lewagon .navbar-collapse li {
  color: white
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-header {
  font-family: 'Roboto' sans-serif;
  font-weight: 300;
  color: white;
}

#item {
  font-family: 'Roboto' sans-serif;
  font-weight: 100;
  color: white;
  margin-left: 20px;
}
